ion-view(hide-nav-bar='true')
	ion-content.login-view
		login-form
		.login-footer
			p
				| No tienes una cuenta, 
				strong.clickable(ui-sref="register")  Regístrate
			p
				| ó
				strong.clickable(ui-sref="home.recintos")  Ingresa como Invitado





