ion-view(hide-nav-bar="true")
	.home-header
		.title
			.logo
		button.back-button.force-show(ui-sref="home.micuenta")
			i.icon.ion-ios-arrow-thin-left
	ion-content.terminos-view
		h3 Términos y Condiciones
		p El presente instrumento legal tiene como objetivo regular los términos y condiciones de uso, así mismo la política de privacidad de www.balompie.cl, en lo sucesivo Balompie.cl.
		br
		p Hacer uso de la página web y sus servicios da atribución de usuario de la misma, en adelante el “Usuario”, quien acepta con pleno conocimiento y sin reservas todas y cada una de las cláusulas dispuestas en estos Términos y Condiciones. Se recomienda al Usuario leer de forma periódica posibles actualizaciones en los presentes términos y condiciones ya que pudieran tener modificaciones las que se informarán previamente.
		br
		h5 Descripción del servicio
		p Balompie.cl es un sitio web donde se reunen entidades y jugadores e información para ayudar a la realización de eventos deportivos.
		br
		h5 Usuario de Balompie.cl.
		p Para hacer uso de los servicios de Balompie.cl se requiere tener minimo de 13 (trece) años de edad. Queda expresamente prohibido el uso de los servicios de Balompie.cl a menores de 13 años de edad, inclusive queda prohibido el uso de la cuenta de un Usuario correctamente inscrito.
		br
		p El uso de los servicios de Balompie.cl tienen caracter de gratuitos para los Usuarios. No hay versiones premium o que requiera un coste para los Usuarios.
		br
		p Para crear un nuevo perfil de Usuario se debe registrar un nombre de usuario y una contraseña. La seguridad y confidencialidad de la contraseña son de absoluta responsabilidad del Usuario, como también las actividades ocurridas durante la sesión iniciada con su nombre de usuario y contraseña.
		br
		p El Usuario se compromete a notificar a Balompie.cl a la mayor brevedad el uso no autorizado de su nombre de usuario y contraseña o cualquier otro fallo en la seguridad. Balompie.cl no será responsable por los daños o pérdidas que se pudieran originar debido al no cumplimiento de esta obligación por su parte.
		br
		h5 Registro
		p Para ser Usuario de Balompie.cl es necesario el registro en la página web. Para tal efecto solicitaremos:
		ul
			li Nombre y apellido
			li RUT
			li Email
			li Foto
			li Teléfono
			li Fecha de nacimiento
			li Género
			li Región
			li Comuna
			li Contraseña
		br
		p El número de teléfono tendrá un carácter de privado hasta cuando el Usuario indique lo contrario al momento de arrendar o reservar una cancha de un recinto. 
		p Los datos contenidos en el perfil personal son de responsabilidad del Usuario además de la veracidad de los mismos.
		p En caso que Balompie.cl tenga conocimiento de que se infringe la legalidad o usurpación de identidad, podrá proceder de forma unilateral para cancelar la cuenta del usuario.
		br
		h5 Servicios que ofrece Balompie.cl
		p El usuario se compromete a hacer uso de los servicios ofrecidos por Balompie.cl dentro del marco legar vigente, el presente Término y Condiciones, para ciertos servicios o avisos, e instituciones puestos en su conocimiento, así también como la moral y buenas prácticas que son aceptadas y el orden público.
		br
		p El Usuario es único responsable de la información otorgada en su perfil personal, debiendo ser consciente de la posibilidad de ser visualizados por terceros, en ejemplo, su número de teléfono.
		br
		p Se prohibe el uso de los servicios de Balompie.cl con fines no licitos, o que perjudiquen el interés o derecho de otros usuarios, de terceros, o de Balompié SpA responsable de Balompie.cl.
		br
		p Se responsabiliza al Usuario de cualquier acto ilícito mencionado anteriormente.
		br
		h5 Comisiones de los arriendos online.
		p Nuestro proveedor para realizar arriendos online es Transbank, quien tiene una estructura de comisiones para cada transacción realizada en Balompie.cl, el total del recargo se indica en el resumen del arriendo, previo a dar clic en “ir a pagar”.
		br
		p La comisión que se aplica a las ventas es, para tarjetas: Visa, Mastercard, Magna, American Express, Diners: 2.95% + IVA por Transacción (abono son cada 48 horas hábiles bancarias.)
		p Débito o Redcompra: 1.49% + IVA por Transacción (abono son cada 24 horas hábiles bancarias.)
		p No se incluyen comisiones o recargos cuando el Usuario indica que pagará en efectivo en el Recinto.


		h3 Política de cancelación y devolución
		br
		h5 Reservas y Arriendos
		br
		p El usuario podrá arrendar una o más canchas en algún recinto publicado por el administrador y efectuará el pago correspondiente por medio de una tarjeta de débito o crédito.
		p La recepción del pago en débito o crédito por parte de Balompie.cl constituye la confirmación de reserva.
		p Una vez confirmada la reserva, el recinto y usuario quedan irrevocablemente vinculados.
		p Toda anulación posterior a esta confirmación de la reserva se encuadrará necesariamente dentro de las modalidades previstas más adelante.
		p La reserva es nominativa. La identidad del usuario debe ser la misma que han comunicado a BALOMPIE. Ambos tienen derecho a cancelación en el caso de que la identidad de la otra parte no se corresponda con la introducida en el sitio web.
		br
		p El Usuario podrá reservar una o más canchas, las cuales puede pagar con dinero en efectivo o el medio que el Recinto dicte para tal efecto. Las políticas de cancelación o penalización y devolución son otorgadas y comunicadas por el Recinto, para todos los efectos Balompie.cl no actua como mediador o portavoz en estos casos.
		br
		p Un Usuario sin una cuenta puede arrendar en calidad de Invitado, deberá llenar un formulario con datos personales con el fin de que el recinto pueda validar su identidad y reservar o arrendar una cancha. El Usuario Invitado podrá acceder a ver los datos del partido arrendado o reservado desde su Email, medio al cual se enviará el respaldo de lo comprado.
		br
		p El usuario al tener una reserva o arriendo se compromete a asistir al recinto en la fecha y hora indicada.
		br
		p Los pagos podrán realizarse mediante nuestro Webpay, o bien en el recinto mediante dinero en efectivo o ingreso/transferencia bancaria en la/s cuenta/s indicadas por el Recinto para tal efecto.
		br
		p El Usuario registrado o Invitado podrá pagar el 50% del valor a través de Webpay para asegurar su arriendo, el 50% restante lo podrá pagar en cancha o mediante el método que indique el Recinto.
		p Las políticas de cancelación y devolución y sus modalidades para este efecto se describen a continuación.
		br
		h5 Cancelación y Devolución
		p La anulación por parte del usuario con posterioridad a la realización de la reserva está sometida a las siguientes condiciones:
		p Si la anulación es imputable al usuario, existen dos casuísticas o posibilidades:
		p * El usuario cancela con más de 24 horas de antelación o según lo que disponga el Recinto:
		p La cancha que se había reservado al usuario se vuelve automáticamente a disposición de nuevos usuarios en el SITIO WEB. El usuario será reembolsado con la totalidad de la cantidad pagada en un plazo de 24 a 72 hrs hábiles.
		p * El jugador cancela en las últimas 24 horas previas al partido o el tiempo que disponga el Recinto, después del partido o no se presenta:
		p La cancha que se había reservado al usuario se vuelve automáticamente a disposición de nuevos usuarios en el SITIO WEB. El administrador del recinto recibirá una indemnización del 100% del importe pagado por el usuario. El administrador del recinto recibirá dicha indemnización aun si al final otro usuario reserva esa cancha antes de que se juegue el partido.

		h3 Política de privacidad

		p Balompie.cl se dedica a salvaguardar la privacidad de los usuarios de nuestra web mientras que también proporciona la mejor calidad de servicio posible. Toda la información recopilada sobre usted será utilizada legalmente por nosotros. Si hay cualquier petición o consulta que tenga con respecto a la utilización de su información personal, por favor, póngase en contacto a soporte@balompie.cl
		h5 Información recogida
		p Balompie.cl recoge la información suministrada por usted a través de nuestros formularios de registro, y cada vez que envíe su correo electrónico. Balompie.cl también recoge información automáticamente acerca de su visita a nuestro sitio. La información obtenida de esta manera, incluyendo patrones de navegación, sólo se utiliza en forma agregada, por lo que no es capaz de ser utilizado para identificarlo. Esta información agregada se utiliza para:
		p Ayudar en el desarrollo estratégico.
		p Auditar el uso del sitio.
		p El uso de la información personal.

		p Balompié SpA procesa información personal recopilada a través de Balompie.cl con el propósito de:
		p Proporcionar el mejor servicio posible en el proceso de cualquier arriendo o reserva que usted haya hecho.
		p Proporcionando información sobre los productos y servicios que ofrecemos

		h5 Divulgación
		p Balompie.cl no entregará su información a terceros. Si desea dejar de recibir cualquier información sobre Balompie.cl y nuestros servicios o si usted tiene alguna pregunta acerca de nuestra política de privacidad debe ponerse en contacto con nosotros por correo electrónico soporte@balompie.cl.
 
		h5 Precisión de la información
		p Aunque el objetivo es tener cada fotografía y la descripción precisa de los recintos, los errores ocurren así que por favor pedimos nos informe si usted ve o lee algo que no es exacto en nuestro sitio. Si usted ha comprado algo basado en una imagen o descripción en la página web, que resulta ser incorrecta vamos a sustituir felices o consolidar la compra, considerando que.
 
		h5 Política de cookies
		p Las cookies se utilizan para una variedad de cosas que ayudan a mejorar su experiencia de compra. Recopilamos información sobre las visitas a la página web a través de los registros de archivos y Google Analytics de Balompie.cl . Estos registros de seguimiento de las preferencias del usuario y las páginas visitadas. También nos proporcionan información sobre el tipo de navegador que está utilizando y qué sistema operativo tiene su computador o dispositivo móvil se utiliza. Los registros que utilizamos no recogen ninguna información personal que pueda identificar a un visitante. Simplemente los usamos para asegurarnos de que nuestro sitio está funcionando correctamente y proporcionar la mejor experiencia de usuario posible.

		h5 Propiedad Intelectual e Industrial
		p Todos los nombres comerciales, de marcas, logotipos, iconografía distintiva de cualquier índole en Balompie.cl, son de propiedad de Balompie.cl o de terceros, el hacer uso del sitio y sus servicios y tener acceso a esta información no acredita al Usuario registrado o Invitado el derecho alguno sobre los contenidos nombrados.
		p Los derechos de propiedad intelectual que se conceden al Usuarios son todos aquellos que son inherentes al uso de los servicios propios de Balompie.cl, que en todos los casos queda prohibido su uso comercial.

		h5 Exclusión de garantías y de responsabilidad.
		p Balompie.cl no garantiza la disponibilidad y continuidad del funcionamiento de Balompie.cl y sus servicios propios o de terceros.
		p Balompie.cl priorizará, siempre que sea posible, advertir con tiempo suficiente las interrupciones que se pudieran suceder dentro del funcionamiento de Balompie.cl y sus servicios. Balompie.cl tampoco garantiza la utilidad que tengan los servicios para eventos o alguna actividad en concreto, ni su infalibilidad y, en particular, aunque no de modo exclusivo, que los Usuarios puedan efectivamente utilizar Balompie.cl y sus servicios.
		p Balompie.cl excluye, en toda amplitud de la palabra y extensión que permita el marco jurídico, cualquier responsabilidad ante daños y perjuicios de cualquier índole ocasionados por la falta de disponibilidad o continuidad en el funcionamiento de Balompie.cl y sus servicios y paginas. 
		p Balompie.cl no garantiza la ausencia de errores en la aplicación como tampoco en los contenidos alojados en Balompie.cl.
		p Balompie.cl no garantiza la ausencia de virus u otro tipo de componente dañino y la eficacia en la seguridad adoptada.
		p Balompie.cl excluye, con toda la extensión permitida por el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a errores del software, o en los contenidos, o a la presencia de virus que puedan producir alteraciones en el sistema informático, documentos electrónicos o ficheros de los Usuarios.
		p Balompie.cl no garantiza fiabilidad y utilidad de los contenidos, Balompie.cl excluye en toda amplitud del marco legal, responsabilidad por daños y perjuicios ocasionado por la distribución de contenidos con falta de veracidad, exactitud o contenido inadecuado.
		p Balompie.cl no controla ni garantiza la ausencia de virus ni de otros elementos en los servicios prestados por terceros a través de Balompie.cl que puedan producir alteraciones en el sistema informático del Usuario.
		p Balompie.cl no garantiza la veracidad de los datos proporcionados por los Usuarios respecto a sus perfiles propios.
		p Balompie.cl se exime de cualquier resposabilidad por daños y perjuicios de cualquier naturaleza que tengan relación con la utilización de servicios y contenidos por parte de los Usuarios que puedan deberse a la falta de veracidad, en particular y no con exclusividad por los daños de cualquier índole que se deban a la suplantación de identidad en la utilización de los servicios de Balompie.cl.

		h5 Suspensión de cuenta y servicios.
		p Balompie.cl podrá suspender en cualquier momento la prestación de sus servicios sin previo aviso. Igualmente sin previo aviso se podrá cancelar la cuenta, de todos aquellos usuarios que no cumplan lo presentado en estos Términos y Condiciones, previa devolución de su saldo pendiente, si fuere el caso. 


