//utilities/_config.scss

// Colors
$black: #000;
$white: #FFF;
$whitesmoke: #f5f5f5;
$dark: #2E2D28;
$grey: #F0F0F0;
$gray: #909090;
$almost-black: #1b1b1b;
$dark-red: #a92a02;
$pink-red: #DE0653;
$yellow: #fccc31;
$lightgray: #d3d3d3;
$red: #de4747;
$input-gray: #b3b3b3;
$green: #70a83b;
$success-green: #66d55e;
$light-cyan: #a4e0df;
$purpleblue: #546ae0;
//Sizes
$iphone: 320px;
$iphone6: 375px;
$iphone6-plus: 414px; //Iphone6Plus
$tablet: 768px;
$desktop: 992px;
$lg-screen: 1200px;
$screen-13: 1270px;
$xl-screen: 1540px;

